<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.mobdeve.s11.gonzaga.miguel.mobdeve_workit_mp">
    <!-- FB API -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MOBDEVE_WorkIt_MP">
        <activity
            android:name=".HomeActivity"
            android:exported="false" />
        <activity
            android:name=".LogInActivity"
            android:exported="true">
     <!--   <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>-->
        </activity>

        <activity
            android:name=".CreateWorkoutSelectExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".MyWorkoutExercisesActivity"
            android:exported="false" />
        <activity
            android:name=".AddExerciseToWorkoutActivity"
            android:exported="false" />
        <activity
            android:name=".CreateWorkoutActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".MyWorkoutActivity"
            android:exported="true">
        </activity>
        <activity
            android:name=".WorkoutDoneActivity"
            android:exported="false" />
        <activity
            android:name=".RestTimeActivity"
            android:exported="false" />
        <activity
            android:name=".RunningExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".ViewExerciseActivity"
            android:exported="false" />
        <activity
            android:name=".BusyScheduleWorkoutActivity"
            android:exported="true">
            <!--<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>-->
        </activity>


       <!-- FB API -->
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />
        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>
    </application>

</manifest>